@font-face {
    font-family: Font;
    src: url(Microsoft-Sans-Serif.ttf);
}
body {
    font-family: Font;
    margin:0;
    padding:0;
    overflow-x:hidden;
    font-size: 24px;
}
.top-list {
    background-color: rgb(53, 53, 53);
    width: 100%;
    overflow: hidden;
    z-index: 1;
    top: 0;
    position: fixed;
    height: 46px;
}
.top-list a {
    padding: 17px 16px;
    color:azure;
    text-decoration: none;
    font-size:26px;
}
.top-list a:hover {
    background-color: rgb(255, 255, 255);
    color:rgb(36, 36, 36);
}
.top-list a.active {
    background-color: #8f8f8f;
    color:azure;
}
.main {
    background-color: darkgrey;
}
.title h1 {
    text-align: center;
}
.title p {
    text-align: justify;
}
.title {
    max-width: 600px;
    padding-top: 30px;
    padding-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}
.project h1{
    text-align: center;
}
.project {
    text-align: center;
    max-width: 800px;
    padding-top: 48px;
    padding-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}
.display-container{
    position: relative;
}
.display-left{
    top: 50%;
    left:25%;
}
.display-right{
    top: 50%;
    right:25%;
}
.button{
    background-color: rgb(53, 53, 53);
    color:azure;
    padding:8px 16px;
    border:none;
    text-decoration: none;
}
.button:hover{
    background-color: rgb(255, 255, 255);
    color:rgb(36, 36, 36);
}